<h1></h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Password Reset</h3>
        <%= link_to 'Sign in', root_path, class: 'pull-right' %>
      </div>
      <div class="box-body">
        <%= form_tag password_resets_path, :method => :post do %>
          <fieldset class="form-group has-feedback">
            <%= fa_icon :user, class: "fa-fw form-control-feedback" %>
            <%= text_field_tag :email, '', class: 'form-control', placeholder: 'Enter your email' %>
          </fieldset>
          <div class="text-center">
            <%= submit_tag "Reset my password!", class: 'btn btn-block btn-primary', data: { 'disable-with' => 'Wait...' } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

