<%= form_for @user do |f| %>
  <fieldset class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Enter your password' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Re-enter password' %>
  </fieldset>
  <div class="actions">
    <%= link_to t(:back), root_path, class: 'btn btn-default', data: {'disable-with' => 'Wait...'} %>
    <%= f.submit 'Save User', class: 'btn btn-primary', data: {'disable-with' => 'Wait...'} %>
  </div>
<% end %>
