<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.credentials %></td>
  <td class="actions">
    <div class="btn-group">
      <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-default' %>
      <%= link_to '#', class: 'dropdown-toggle btn btn-default', data: { toggle: 'dropdown' } do %>
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      <% end %>
      <ul class="dropdown-menu">
        <% if current_user != user && is?(:admin) %>
          <li>
            <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?'}, style: 'color: red' %>
          </li>
        <% end %>
      </ul>
    </div>
  </td>
</tr>
