<tr>
  <td><%= category.name %></td>
  <td><%= category.dimensions %></td>
  <td class="text-center"><%= category.weight %></td>
  <td class="text-center"><%= category.insurance_percent %></td>
  <td class="text-center"><%= category.stock %></td>
  <td class="actions">
      <%= link_to 'Edit', [:edit, category], class: 'btn btn-xs btn-default' %>
      <%= link_to 'Delete', category, method: :delete, class: 'btn btn-xs btn-danger',
        data: {
          confirm: "You are about to delete category <b> #{category.name}</b>. Are you sure you want to proceed?",
          cancel_btn: "No, cancel",
          confirm_btn: "Yes, delete category"
        } %>
    </div>
  </td>
</tr>
