<!DOCTYPE html>
<html>
  <head><%= render 'application/head' %></head>

  <body class="skin-red sidebar-mini fixed <%= "#{controller_name} #{action_name}" %> <%= sidebar_state %>">

  <div class="wrapper">

    <%= render 'application/navbar' %>

    <%= render 'application/aside' %>

    <article class="content-wrapper">
      <%= yield %>
      <section id="snackbar-container">
        <%= flash_messages if flash %>
      </section>
    </article>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="js-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>

  <%= yield(:modals) %>
</body>
</html>
